@media  screen and (max-width: 780px){

    section {
        margin-top: 10px;
        flex-direction: column;
    }
    main{
        margin-bottom: 10px;
        width: 100%;
        height: 70%;
    }
    aside{
        width: 100%;
        height: 30%;
    }
}