@media screen  and (min-width: 350px) and (max-width:767px){

    section{
        display: grid;
        gap: 1px;
        height: 100vh;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'header header'
        'two one'
        'three four'
        'five five'
        'footer footer'
    ;
    }
}

